<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  {{>header}}
</head>
<body>
    {{>navbar}}
    
    <h1 class="m-3">Login Form</h1>

    <form action="/login" method="POST" class="mx-5">

        <div class="row align-items-center">

            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" value="" name="email" />
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" value="" name="password" />
            </div>
        
        </div>

        <input type="submit" class="btn btn-success" value="Login"/>

    </form>

    {{>footer}}
    
</body>
</html>

